@font-face {
  font-family: "iconfont"; /* Project id 4520687 */
  src: url('//at.alicdn.com/t/c/font_4520687_9ssy515s8c.woff2?t=1713861147223') format('woff2'),
       url('//at.alicdn.com/t/c/font_4520687_9ssy515s8c.woff?t=1713861147223') format('woff'),
       url('//at.alicdn.com/t/c/font_4520687_9ssy515s8c.ttf?t=1713861147223') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-fill:before {
  content: "\e66b";
}